<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- basic info -->
  <title>Open at RIT</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- css -->
  <link rel="stylesheet" href="/components/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/components/bootstrap/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="/styles.css">
</head>

<body>

  <!-- navbar -->
  <nav class="navbar"><div class="navbar-inner"><div class="container-fluid">
    <a class="brand" href="/">Open at RIT</a>
  </div></div></nav>

  <!-- footer -->
  <footer>
    &copy; 2013 Nicolas McCurdy<br>
    Not affiliated with RIT.
  </footer>

<!-- scripts -->
<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</body>
</html>
