body {
  padding-top: 60px;
}

footer {
  text-align: center;
}

.brand-rit {
  font-family: Georgia, serif;
  color: rgb(243, 110, 33);
}

.location {
  text-align: center;
  background: white;
  padding: 0;
}

.name {
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  padding: 10px;
  border-radius: 6px 6px 0 0;
  margin-bottom: 10px;
}

.open .name {
  color: white;
  background-color: green;
}

.closed .name {
  color: white;
  background-color: red;
}
