/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */

// First import journal variables
@import "bootswatch/flatly/variables";

// Then bootstrap itself
@import "bootstrap";

// Responsive styles go here in case you want them
@import "bootstrap-responsive";

// And finally bootswatch style itself
@import "bootswatch/flatly/bootswatch";

body {
  padding-top: 75px;
  background-color: rgb(221, 228, 230);
}

footer {
  text-align: center;
}

.brand-rit {
  font-family: Georgia, serif;
  color: rgb(243, 110, 33);
}

.brand:hover .brand-rit {
  color: rgb(29, 210, 175);
}

.location {
  text-align: center;
  background: white;
  padding: 0;
}

.name {
  font-size: 24px;
  font-weight: 700;
  line-height: 42px;
  padding: 10px;
  border-radius: 6px 6px 0 0;
  margin-bottom: 10px;
}

.open .name {
  color: white;
  background-color: green;
}

.closed .name {
  color: white;
  background-color: red;
}
