<h1>Listing locations</h1>

<div class="container">

  <!-- locations -->
  <% @locations.each_slice(3) do |row_of_locations| %>
    <div class="row-fluid">
      <% row_of_locations.each do |location| %>
        <div class="span4 well location open">
          <div class="name"><%= location.name %></div>
          <p>weekday hours: <%= location.weekday_start %> to %> location.weekday_end %></p>
          <p>weekend hours: <%= location.weekend_start %> to %> location.weekend_end %></p>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
