<div class="container">

  <!-- locations -->
  <% if @locations.length > 0 %>
    <% @locations.each_slice LocationsHelper::LOCATIONS_PER_ROW do |locations| %>
      <div class="row-fluid">
        <%= render locations %>
      </div>
    <% end %>
  <% else %>
    <h3>No locations found....</h3>
    <h3>This is probably a bug, please <a href="https://github.com/thenickperson/open-at-rit/issues/new" target="_blank">report an issue</a>.</h3>
  <% end %>

</div>
